<div class="main hide">
    <%- include("nav.ejs") %>
    <!-- home page -->


    <div class=""
        style="width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 20px;">


        <input placeholder="SEARCH OUR FASHION PRODUCTS , CATEGORIES ..." type="text" required>

        <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;cursor: pointer;"></i>


        <a href="#" style="color: #FF0000;font-size: 20px;">DISCOVER ALL</a>
    </div>
    <!-- end search bar -->

    <!-- categories -->
    <h1 style="text-align: center;margin-top: 100px;text-decoration: underline;color: #FF0000;">CATEGORIES</h1>


    <div class="row" style="display: grid;grid-template-columns: 1fr 1fr;gap: 20px;padding: 20px;place-items: center;">
        <a href="#" class="col-md-4 mt-5"
            style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;text-align: center;flex-direction: column;gap: 15px;text-decoration: none;">
            <img src="./images/t-shirt.jpg"
                style="width: 400px;height: 400px;object-fit: cover;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                alt="">
            <h1 style="color: #FF0000;">T-SHIRT</h1>
        </a>
        <a href="#" class="col-md-4 mt-5"
            style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;text-align: center;flex-direction: column;gap: 15px;text-decoration: none;">
            <img src="./images/hoodie.jpg"
                style="width: 400px;height: 400px;object-fit: cover;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                alt="">
            <h1 style="color: #FF0000;">HOODIE</h1>
        </a>
        <a href="#" class="col-md-4 mt-5"
            style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;text-align: center;flex-direction: column;gap: 15px;text-decoration: none;">
            <img src="./images/jacket.jpg"
                style="width: 400px;height: 400px;object-fit: cover;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                alt="">
            <h1 style="color: #FF0000;">JACKET</h1>
        </a>
        <a href="#" class="col-md-4 mt-5"
            style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;text-align: center;flex-direction: column;gap: 15px;text-decoration: none;">
            <img src="./images/purse.jpg"
                style="width: 400px;height: 400px;object-fit: cover;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                alt="">
            <h1 style="color: #FF0000;">PURSE</h1>
        </a>
        <a href="#" class="col-md-4 mt-5"
            style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;text-align: center;flex-direction: column;gap: 15px;text-decoration: none;">
            <img src="./images/scrunchie.jpg"
                style="width: 400px;height: 400px;object-fit: cover;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
                alt="">
            <h1 style="color: #FF0000;">SCRUNCHIE</h1>
        </a>
    </div>



</div>