

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav"> 		
      <ul class="pt-5">
          <li><a href="#">ALL</a></li>
          <li><a href="#">T-SHIRT</a></li>
          <li><a href="#">HOODIE</a></li>
          <li><a href="#">JACKET</a></li>
          <li><a href="#">PURSE</a></li>
          <li><a href="#">SCRUNCHIE</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
      </ul>
  </nav>

