<nav>
    <div>
        <a href="/home">
            <img style="width: 70px;height: 70px;object-fit: contain;" src="./images/4unique.png" alt="">
        </a>
        <a id="my_cart_link"  href="#"><i class="fa-solid fa-cart-shopping">
            <b id="cart_length"></b>
        </i></a>
        
        <label for="toogle-menu" class="toogle-close">
            <span></span>
        </label>
    </div>
    <ul id="nav_list" style="overflow-y: scroll;height: 700px;overflow-x: hidden;">

       

        <li><a data-lang="discover" href="/food">ALL PRODUCTS</a></li>
        <li><a data-lang="tshirt" href="/food/tshirt">T-SHIRT</a></li>
        <li><a data-lang="purse" href="/food/purse">PURSE</a></li>
        <li><a data-lang="jacket"  href="/food/jacket">JACKET</a></li>
        
        <li><a data-lang="hoodie" href="/food/hoodie">HOODIE</a></li>
        <li><a data-lang="scrunchie" href="/food/scrunchie">SCRUNCHIE</a></li>

        <% for(var i = 0; i < categories.length; i++) { %>
            <li><a href="/food/<%= categories[i].category %>"><%= categories[i].category.toUpperCase() %></a></li>
        <% } %>

        <li><a data-lang="about" href="/aboutus">ABOUT </a></li>

        <li><a data-lang="contact" href="/contactus">CONTACT US </a></li>

        <li class="track hide"><a  id="track_orders" data-lang="track" href=""></a></li>

        <li id="logout"><a  ><i class="fa-solid fa-right-from-bracket"></i> </a></li>

        <li><a data-lang="favourites" id="fav_nav"  href="/favourites">MY FAVOURITES </a></li>

        <li id="login"><a href="/login">LOGIN </a></li>

        <li id="signup"><a href="/signup">SIGNUP</a></li>

    </ul>
</nav>