<div class="main hide">
    <img src="./landing/images/logo.png" alt="">
    <h1 style="text-align: center;" data-lang="land_1">JOIN US NOW</h1>
    <p style="text-align: center;" data-lang="land_2">DISCOVER & ORDER OUR FASHION PRODUCTS</p>
    <small style="text-align: center;" data-lang="land_3">WE ARE WAITING FOR YOU</small>
    <a href="/register" class="landing-btn" data-lang="land_4">CREATE AN ACCOUNT</a>
    <small style="text-align: center;font-size: 13px;" data-lang="land_5">ONCE YOU CREATE YOUR ACCOUNT YOU CAN ORDER , EXPLORE AND MORE ..</small>
</div>